API_KEY
API_USERNAME
keyer
namer
hostnamer
hostnames
listservers
listtemplates
trusties
jessies
centoss
glusties
kargo
kargolist
fullList
workingList
workingList*
names.list
certs
K8S_PASSWD
SSH_PORT
SSH_KEY
KUBE_NETWORK
