API_KEY
API_USERNAME
keyer
namer
hostnamer
hostnames
listservers
listtemplates
trusties
jessies
centoss
glusties
kargo
kargolist
fullList
newList
workingList
workingList*
names.list
certs
K8S_PASSWD
SSH_PORT
SSH_PORT*
SSH_KEY
KUBE_NETWORK
KUBE_NETWORK_PLUGIN
DOMAIN
DOMAIN*
chosenNames
RANCHER_INIT*
